<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=<%= VIEWPORT_FIT %>"
    />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <title>Cadence97</title>
    <meta name="theme-color" content="#365e9d" />
    <%= PRECONNECT %>
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/svg+xml" href="/cadence-icon.svg" />
    <meta name="emotion-insertion-point" content="" />
    <meta name="description" content="<%= DESCRIPTION %>" />
    <meta property="og:title" content="Cadence97" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= DESCRIPTION %>" />
  </head>

  <body>
    <div id="app" data-version="<%= GIT_SHORT_SHA %>"></div>
  </body>
</html>
